@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  background-color: #382C38;
  margin: 0
}

.navbar-container {
    margin: auto
}

#navbar {
    overflow: hidden;
    background-color: #D56F11;
    border-bottom: 2px solid #E7BE17;
    margin: auto
}

#navbar a {
    font-family: 'Work Sans';
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    width: 80px;
    height: 20px;
    text-decoration: none;
    transition: 0.3s
}

#navbar a.active {
    background-color: #E7BE17;
}

#navbar a:hover {
    color: white;
    background-color: #E7BE17;
}

.separator {
    color: #E7BE17; 
    border: solid;
    width: 100px;
    margin: auto
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.mainheader {
  background-color: #D56F11
}

.mainheadertitle {
  font-size: 48px;
  font-family: 'Poppins';
  color: white;
  text-align: center
}

.mainheadertext {
  font-size: 16px;
  font-family: 'Work Sans';
  color: white;
  text-align: center
}

.text {
  font-family: 'Work Sans';
  color: white;
  text-align: justify
}
